export HISTFILE="${ZDOTDIR:-$HOME}/.zsh_history"
export HISTSIZE=50000
export SAVEHIST=50000

export CONTEXT7_API_KEY={{ (bitwarden "item" "Context7 API Key").notes | trim }}
export EXA_API_KEY={{ (bitwarden "item" "EXA API Key").notes | trim }}

export BW_SESSION={{ (bitwarden "item" "Session KEY").notes | trim }}
