// Zed settings
//
// For information on how to configure Zed, see the Zed
// documentation: https://zed.dev/docs/configuring-zed
//
// To see all of Zed's default settings without changing your
// custom settings, run `zed: open default settings` from the
// command palette (cmd-shift-p / ctrl-shift-p)
{
  "outline_panel": {
    "dock": "left"
  },
  "collaboration_panel": {
    "dock": "left"
  },
  "agent": {
    "dock": "right",
    "favorite_models": [],
    "model_parameters": []
  },
  "git_panel": {
    "dock": "left"
  },
  "context_servers": {
    "mcp-server-exa-search": {
      "enabled": true,
      "remote": false,
      "settings": {
        "exa_api_key": "{{ (bitwarden "item" "EXA API Key").notes | trim }}",
      },
    },
    "mcp-server-context7": {
      "enabled": true,
      "remote": false,
      "settings": {
        "context7_api_key": "{{ (bitwarden "item" "Context7 API Key").notes | trim }}",
      },
    },
  },
  "theme": {
    "dark": "Monokai Nebula",
    "light": "Noctalia Light",
    "mode": "system"
  },
  "cli_default_open_behavior": "new_window",
  "agent_buffer_font_size": 15.0,
  "agent_ui_font_size": 16.0,
  "tabs": {
    "file_icons": true,
    "git_status": true,
  },
  "title_bar": {
    "show_branch_status_icon": false,
    "show_user_menu": true,
    "show_menus": false,
    "show_user_picture": true,
  },
  "proxy": "",
  "edit_predictions": {
    "provider": "copilot",
    "mode": "eager"
  },
  "agent_servers": {
    "opencode": {
      "favorite_config_option_values": {
        "model": ["opencode-go/glm-5.1"],
      },
      "type": "registry",
    },
    "github-copilot-cli": {
      "type": "registry",
    },
  },
  "vim_mode": true,
  "project_panel": {
    "dock": "left",
    "sort_mode": "files_first",
  },
  "base_keymap": null,
  "relative_line_numbers": "enabled",
  "sticky_scroll": {
    "enabled": true,
  },
  "gutter": {
    "line_numbers": true,
  },
  "minimap": {
    "show": "auto",
    "thumb": "always",
  },
  "selection_highlight": false,
  "buffer_font_fallbacks": ["Noto Sans Mono", ".SystemUIFont"],
  "buffer_font_family": "MesloLGLDZ Nerd Font Mono",
  "file_types": {
    "tailwindcss": ["*.css", "*.pcss"],
  },
  "colorize_brackets": true,
  "show_completions_on_input": true,
  "auto_indent_on_paste": true,
  "show_edit_predictions": true,
  "indent_guides": {
    "enabled": true,
  },
  "soft_wrap": "editor_width",
  "tab_size": 2,
  "ui_font_size": 16,
  "buffer_font_size": 15,
  "experimental.theme_overrides": {
    "background.appearance": "transparent"
  }
}
