[Desktop Entry]
Version=1.0
Type=Application
Name=Android Emulator
Exec=uwsm app -- {{ .chezmoi.homeDir }}/scripts/android-emulator-wofi.sh
Icon=android-studio
Comment=Run Android Emulator with wofi selection
Keywords=android;emulator;avd;virtual;device;mobile;phone;tablet;android emulator;virtual device;
Categories=Development;IDE;Emulator;System;
Terminal=false
StartupNotify=true
