[Desktop Entry]
Version=1.0
Type=Application
Name=Android Screenshot Tool
Exec=env QT_QPA_PLATFORM=xcb GDK_BACKEND=x11 {{ .chezmoi.homeDir }}/Android/Sdk/cmdline-tools/latest/bin/screenshot2
Icon=android-studio
Comment=Android Device Screenshot Tool
Keywords=android;screenshot;capture;device;screen;tool;
Categories=Development;IDE;Graphics;Photography;
Terminal=true
StartupNotify=true