[Desktop Entry]
Version=1.0
Type=Application
Name=Android SDK Manager
Exec=uwsm app -- {{ .chezmoi.homeDir }}/Android/Sdk/cmdline-tools/latest/bin/sdkmanager --list
Icon=android-studio
Comment=Android SDK Package Manager
Keywords=android;sdk;manager;package;development;tools;
Categories=Development;IDE;System;
Terminal=true
StartupNotify=true
