[Desktop Entry]
Version=1.0
Type=Application
Name=Android AVD Manager
Exec=uwsm app -- kitty -- {{ .chezmoi.homeDir }}/Android/Sdk/cmdline-tools/latest/bin/avdmanager list avd
Icon=android-studio
Comment=Android Virtual Device Manager
Keywords=android;avd;manager;virtual;device;emulator;
Categories=Development;IDE;Emulator;System;
Terminal=false
StartupNotify=true
