[Desktop Entry]
Version=1.0
Type=Application
Name=Android Studio Profiler
Exec=uwsm app -- /opt/android-studio/bin/profiler.sh
Icon=android-studio
Comment=Android Studio Profiler
Keywords=android;studio;profiler;performance;debugging;development;
Categories=Development;IDE;System;
Terminal=false
StartupNotify=true
