[Desktop Entry]
Version=1.0
Type=Application
Name=Android Studio Game Tools
Exec=uwsm app -- /opt/android-studio/bin/game-tools.sh
Icon=android-studio
Comment=Android Studio Game Tools
Keywords=android;studio;game;tools;development;gaming;
Categories=Development;IDE;Game;
Terminal=false
StartupNotify=true
