[Desktop Entry]
Version=1.0
Type=Application
Name=Android AVD List
Exec=uwsm app -- {{ .chezmoi.homeDir }}/Android/Sdk/emulator/emulator -list-avds
Icon=android-studio
Comment=List available Android Virtual Devices
Keywords=android;avd;virtual;device;list;manager;
Categories=Development;IDE;Emulator;System;
Terminal=false
StartupNotify=true
