{
  "recentProjects": [
    "{{ .chezmoi.homeDir }}/ZCodeProject"
  ],
  "locale": "en-US",
  "localePreference": "en-US",
  "terminalInheritSystemProfile": true,
  "taskAutoArchiveEnabled": false,
  "taskAutoArchiveOlderThanDays": 7,
  "closeToTrayOnWindows": false,
  "messageStreamShowReasoning": true,
  "messageStreamShowTodos": true,
  "zcodeInteractionBehavior": "queue",
  "enabledBuiltinAgentCliProviders": [
    "glm"
  ],
  "modelProviderFamilyModes": {
    "zai": "oauth"
  },
  "providerFamilyDomain": "zai",
  "providerFamilyDomainUpdatedAt": 1781928267692,
  "providerFamilyDomainMigrated": true,
  "repoSnapshotIndexingEnabled": false,
  "instantGrepIndexingEnabled": true,
  "lastWorkspaceSession": [
    {
      "kind": "local",
      "workspacePath": "{{ .chezmoi.homeDir }}/ZCodeProject"
    }
  ],
  "lastActiveTabIndex": 0,
  "settingsSyncFirstRunPromptHandled": true
}