CONTEXT7_API_KEY={{ (bitwarden "item" "Context7 API Key").notes | trim }}
EXA_API_KEY={{ (bitwarden "item" "EXA API Key").notes | trim }}
FAL_AI_API_KEY={{ (bitwarden "item" "FAL AI API Key").notes | trim }}


