    layout {
        gaps 8 // Gap between windows
        center-focused-column "never" // Don’t auto-center focused column

        background-color "transparent" // <- needed for noctalia-shell to set wallpaper

        preset-column-widths {
            proportion 0.33333
            proportion 0.5
            proportion 0.66667
        }

        struts {}

      focus-ring {
          width 1
      }
  
      border {
          off
      }
    }

    // Blur settings (noctalia recommended)
    blur {
        on
        passes 2        // more passes = stronger blur (default: 3)
        offset 3.0      // sample distance per pass (default: 3.0)
        noise 0.03      // grain overlay (default: 0.02)
        saturation 1.0  // color saturation boost (default: 1.5)
    }


