theme "catppuccin-mocha"
default_layout "compact"
on_force_close "quit"


default_shell "zsh"
default_mode "locked"

plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    compact-bar location="zellij:compact-bar"
  }
